@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
  background-image: linear-gradient(rgba($color-secondary, 0.9), rgba($color-secondary, 0.9)),
    url('../img/hero.jpeg');
  background-position: center;
  background-size: cover;

  display: grid;
  grid-template-rows: 1fr min-content minmax(min-content, 6rem) 1fr;
  grid-auto-columns: minmax(min-content, max-content);
  justify-content: center;
  row-gap: 1.5rem;
  padding: 4rem 8rem 8rem;

  &__logo {
    justify-self: center;
    height: 3rem;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }
}

.seen-on {
  &__text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    gap: 1rem;
    align-items: center;
    color: $color-grey-light-2;

    &::before,
    &::after {
      content: '';
      background-color: currentColor;
      display: block;
      height: 1px;
    }
  }

  &__logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0 5rem;
    justify-items: center;
    align-items: center;
  }

  &__logo {
    max-height: 2.2rem;
    max-width: 100%;
    filter: brightness(70%);
  }
}
