@use '../abstracts/variables' as *;

.sidebar {
  background-color: $color-primary;
  display: flex;
  justify-content: center;

  &__btn {
    position: relative;
    border: none;
    outline: none;

    background-color: #fff;
    margin-top: 3rem;
    cursor: pointer;
    width: 4.5rem;
    height: 3px;
    transition: all 200ms;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      background-color: #fff;
      width: 4.5rem;
      height: 3px;
    }

    &::before {
      top: 1.2rem;
    }

    &::after {
      bottom: 1.2rem;
    }
  }
}
