@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(1200) {
    font-size: 50%;
  }
}

body {
  width: 100vw;
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}
